.Card {
    margin: 0 auto;
    width: 48vw;
    height: 25vh;
    float: none;
    margin: 3vh 0 3vh 10vw;
    text-align: center;
}

.carousel {
    width: 60vw;
    height: 60vh;
}

.Title {
    margin-top:2vh;
    margin-left: 2vh;
}

.Milestones {
    width: 40vw;
    display: flex;
}

.Rewards {
    margin-left: 6vw;
}

.ProgressBar {
    width: 40vw;
    float: none;
}

.Bar {
    max-width: 10vw;
}

.Message {
    margin: 0 auto;
    width: 30vw;
    height: 25vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    float: none;
}