.App {
  text-align: center;
  width: 100vh;
  height: 100vh;
}

.navpanel {
  background-color: #E0dfe2;
}

.faq {
  background-color: #fad29e;
}

.progressbar {
  background-color: #37496d;
}

.ref {
  background-color: lightgray;
}